<main>
<dl>
<dt>Username</dt>
<dd>{{user.username}}</dd>
<dt>First Name</dt>
<dd>{{user.firstName}}</dd>
<dt>Last Name</dt>
<dd>{{user.lastName}}</dd>
<dt>Profession</dt>
<dd>{{user.profession}}</dd>
<dt>Bio</dt>
<dd>{{user.bio}}</dd>
</dl>   

<a href="/logout">logout</a>
</main>